  body {
      margin-bottom: 60px;
      /* Margin bottom by footer height */
      padding-top: 60px;
  }
  
  .footer {
      height: 60px;
      /* Set the fixed height of the footer here */
      line-height: 60px;
      /* Vertically center the text there */
  }
  /*
  .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }
  */
  
  .login-page {
      width: auto;
      padding: 8% 0 0;
      margin: auto;
  }
  
  .form {
      position: relative;
      z-index: 1;
      background: #FFFFFF;
      max-width: 360px;
      margin: 0 auto 100px;
      padding: 45px;
      text-align: center;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  .form input {
      font-family: "Roboto", sans-serif;
      outline: 0;
      background: #f2f2f2;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
  }
  
  .form button {
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      outline: 0;
      background: #4CAF50;
      width: 100%;
      border: 0;
      padding: 15px;
      color: #FFFFFF;
      font-size: 14px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      cursor: pointer;
  }
  
  .form button:hover,
  .form button:active,
  .form button:focus {
      background: #43A047;
  }
  
  .form .erro {
    margin: 0 0 0;
    color: #fc0808;
    font-size: 15px;
}

  .form .message {
      margin: 15px 0 0;
      color: #b3b3b3;
      font-size: 12px;
  }
  
  .form .message a {
      color: #4CAF50;
      text-decoration: none;
  }
  
  .form .register-form {
      display: none;
  }