<script language="javascript">
    $("button").click(function () {
        var acao = $(this).text();
        //console.log(acao);

        if (acao === "Editar") {
            $(this).text("Salvar").removeClass("btn-primary").addClass("btn-success");
            //$(this).attr("ng-click", "salvarPerfil()");
            $('#botaoAux').text("Cancelar").removeClass("btn-danger").addClass("btn-warning");
            $('#botaoAux').attr("href", "#!perfilreload");
            habilitaEdicao();
        } else if (acao === "Salvar") {
            $(this).text("Editar").removeClass("btn-success").addClass("btn-primary");
            //$(this).attr("ng-click", "editarPerfil()");
            $('#botaoAux').text("Sair").removeClass("btn-warning").addClass("btn-danger");
            $('#botaoAux').attr("href", "#!logout");
            desabilitaEdicao();
        }
    });

    function desabilitaEdicao() {
        document.getElementById('nome').disabled = true;
        document.getElementById('email').disabled = true;
        document.getElementById('cpf').disabled = true;
        document.getElementById('usuario').disabled = true;
        document.getElementById('senha').disabled = true;
        document.getElementById('telefone').disabled = true;
        document.getElementById('logradouro').disabled = true;
        document.getElementById('numero').disabled = true;
        document.getElementById('bairro').disabled = true;
        document.getElementById('cidade').disabled = true;
        document.getElementById('cep').disabled = true;
    };

    function habilitaEdicao() {
        document.getElementById('nome').disabled = false;
        document.getElementById('email').disabled = false;
        document.getElementById('cpf').disabled = false;
        document.getElementById('usuario').disabled = false;
        document.getElementById('senha').disabled = false;
        document.getElementById('telefone').disabled = false;
        document.getElementById('logradouro').disabled = false;
        document.getElementById('numero').disabled = false;
        document.getElementById('bairro').disabled = false;
        document.getElementById('cidade').disabled = false;
        document.getElementById('cep').disabled = false;
    };    
</script>

<div app-menu menu-title="Cliente App"></div>
<div class="row">
    <div class="col-md-3 mb-3">
        <label for="nome">Nome</label>
        <input type="text" class="form-control is-valid" id="nome" ng-model="nome" disabled>
    </div>
    <div class="col-md-3 mb-3">
        <label for="email">E-mail</label>
        <input type="text" class="form-control is-valid" id="email" ng-model="email" disabled>
    </div>
    <div class="col-md-3 mb-3">
        <label for="email">CPF</label>
        <input type="text" class="form-control is-valid" id="cpf" ng-model="cpf" disabled>
    </div>
</div>
<div class="row">
    <div class="col-md-3 mb-3">
        <label for="usuario">Usuário</label>
        <input type="text" class="form-control is-invalid" id="usuario" ng-model="usuario" disabled>
    </div>
    <div class="col-md-3 mb-3">
        <label for="senha">Senha</label>
        <input type="password" class="form-control is-invalid" id="senha" ng-model="senha" disabled>
    </div>
    <div class="col-md-3 mb-3">
        <label for="telefone">Telefone</label>
        <input type="text" class="form-control is-invalid" id="telefone" ng-model="telefone" disabled>
    </div>
</div>
<div class="row">
    <div class="col-md-3 mb-3">
        <label for="logradouro">Logradouro</label>
        <input type="text" class="form-control is-invalid" id="logradouro" ng-model="logradouro" disabled>
    </div>
    <div class="col-md-3 mb-3">
        <label for="numero">Número</label>
        <input type="text" class="form-control is-invalid" id="numero" ng-model="numero" disabled>
    </div>
    <div class="col-md-3 mb-3">
        <label for="Bairro">Bairro</label>
        <input type="text" class="form-control is-invalid" id="bairro" ng-model="bairro" disabled>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        <label for="Cidade">Cidade</label>
        <input type="text" class="form-control is-invalid" id="cidade" ng-model="cidade" disabled>
    </div>
    <div class="col-md-6 mb-3">
        <label for="CEP">CEP</label>
        <input type="text" class="form-control is-invalid" id="cep" ng-model="cep" disabled>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <nav class="navbar  bg-faded fixed-bottom">
            <div class="navbar-nav">
                <div class="row justify-content-between">
                    <div class="col-6">
                        <a id="botaoAux" href="#!logout" class="btn btn-danger btn-block btn-lg">Sair</a>
                    </div>
                    <div class="col-6">
                        <button id="botaoPerfil" class="btn btn-primary btn-block btn-lg" ng-click="editSave()">Editar</button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</footer>