<div class="container">
    <nav class="navbar navbar-light bg-faded fixed-top">
        <div class="navbar-nav">
            <div class="row text-center">
                <a class="col nav-item nav-link" ng-class="{active: activetab == '/'}" href="#!home">Home</a>
                <a class="col nav-item nav-link" ng-class="{active: activetab == '/historico'}" href="#!historico">Histórico</a>
                <a class="col nav-item nav-link" ng-class="{active: activetab == '/perfil'}" href="#!perfil">Meu Perfil</a>
        </div>
    </nav>
</div>
