<div app-menu menu-title="Cliente App"></div>
<table class="table">
        <thead>
                <tr>
                        <th>Data</th>
                        <th>Especialista</th>
                        <th>Status</th>
                </tr>
        </thead>
        <tbody>
                <tr class="table-danger">
                        <th scope="row">05/12/2017</th>
                        <td>Eduardo Freire</td>
                        <td>Aguardando Avaliação</td>
                </tr>
                <tr class="table-danger">
                        <th scope="row">06/12/2017</th>
                        <td>Muller Fernandes</td>
                        <td>Aguardando Avaliação</td>
                </tr>
                <tr class="table-danger">
                        <th scope="row">06/12/2017</th>
                        <td>Dimas Lourenço</td>
                        <td>Aguardando Avaliação</td>
                </tr>
                <tr class="table-danger">
                        <th scope="row">07/12/2017</th>
                        <td>Jose Pereira</td>
                        <td>Aguardando Avaliação</td>
                </tr>
                <tr class="table-success">
                        <th scope="row">08/12/2017</th>
                        <td>Diogo Fernandes</td>
                        <td>Aguardando Execução</td>
                </tr>
                <tr class="table-success">
                        <th scope="row">10/12/2017</th>
                        <td>Honorio Silva</td>
                        <td>Aguardando Execução</td>
                </tr>
                <tr class="table-warning">
                        <th scope="row">11/12/2017</th>
                        <td>Larissa Freire</td>
                        <td>Aguardando Confirmação</td>
                </tr>
                <tr class="table-success">
                        <th scope="row">15/12/2017</th>
                        <td>Maria Fernandes</td>
                        <td>Aguardando Execução</td>
                </tr>
                <tr class="table-success">
                        <th scope="row">15/12/2017</th>
                        <td>Paulo Lourenço</td>
                        <td>Aguardando Execução</td>
                </tr>
                <tr class="table-warning">
                        <th scope="row">15/12/2017</th>
                        <td>Jose Neto</td>
                        <td>Aguardando Confirmação</td>
                </tr>
                <tr class="table-warning">
                        <th scope="row">15/12/2017</th>
                        <td>Diogo Nogueira</td>
                        <td>Aguardando Confirmação</td>
                </tr>
                <tr class="table-success">
                        <th scope="row">15/12/2017</th>
                        <td>Lula Silva</td>
                        <td>Aguardando Execução</td>
                </tr>
        </tbody>
</table>
<div app-footer menu-title="Cliente App"></div>