<div class="container">
    <nav class="navbar navbar-light bg-faded fixed-top">
        <div class="text-center">
            <h3 align="center">Filtrar Especialista
                <h3>
        </div>
    </nav>

    <div>
        <form>
            <script language="javascript">
                function habilitacao() {                 
                    if (document.getElementById('disponibilidade').checked == true) {
                        document.getElementById('horarioRequerido').disabled = false;                                             
                    }else{
                        document.getElementById('horarioRequerido').disabled = true;  
                    }
                }
            </script>

            <div class="form-group">
                <legend>Especialidade:</legend>
                <select class="form-control" ng-options="item as item.nome for item in profissao track by item._id" ng-model="selected"></select>
            </div>
            <fieldset class="form-group">
                <legend>Buscar por:</legend>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" onClick="habilitacao()" class="form-check-input" name="buscarPor" id="avaliacao" value="1" checked> Avaliação
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" onClick="habilitacao()" class="form-check-input" name="buscarPor" id="proximidade" value="2"> Proximidade
                    </label>
                </div>
                <div class="form-group">
                    <div class="form-check">
                    <label class="form-check-label col-sm-7 col-form-label">
                        <input type="radio" onClick="habilitacao()" class="form-check-input" name="buscarPor" id="disponibilidade" value="3"> Disponibilidade
                    </label>
                    </div>
                    <div class="col-sm-5">
                        <input class="form-control" type="datetime-local" value="2017-12-15T19:30:00" id="horarioRequerido" disabled>
                    </div>                    
                </div>
            </fieldset>
        </form>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <nav class="navbar  bg-faded fixed-bottom">
            <div class="navbar-nav">
                <div class="row justify-content-between">
                <div class="col-6">   
                    <button class="btn btn-warning btn-block btn-lg" ng-click="cancel()">Cancelar</button>
                </div>
                <div class="col-6">
                    <button class="btn btn-primary btn-block btn-lg" ng-click="goBuscarEspecialista()">Buscar</button>
                </div>
                </div>
            </div>
        </nav>
    </div>
</footer>